@import url('https://fonts.googleapis.com/css2?family=Radio+Canada&display=swap');
* {
    /* border: solid red; */
    box-sizing: border-box;
    font-family: 'Radio Canada', sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 0.5fr 5fr;
    grid-template-rows: 1fr 4fr;
    margin: 0;
}
ul {
    list-style: none;
}
.header {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.header-top {
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr 1fr 2fr;
}

#search-button.icon {
    grid-column: 1 / 2;
    display: grid;
    justify-items: center;
    align-items: center;
}

.search-bar {
    grid-column: 2 / 3;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 5px;
}

input#search-bar {
    background-color: #e2e8f0;
    flex: 0.9;
    height: 40px;
    border: transparent;
    border-radius: 20px;
    padding: 10px;
}

#notification.icon {
    grid-column: 3 / 4;
    display: grid;
    justify-content: center;
    align-items: center;
}

#top-header.profile-picture {
    grid-column: 4 / 5;
    display: grid;
    justify-content: center;
    align-items: center;
}

div#top-header.profile-picture > img, ul.trending > li > img {
    object-fit: cover;
    width: 100px;
}

.admin-name {
    grid: 5 / 6;
    display: grid;
    justify-content: left;
    align-items: center;
    font-weight: bold;
    font-size: larger;
}





.header-bottom {
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 1fr 7fr 1fr 1fr 1fr;
}

div#bottom-header.profile-picture > img {
    object-fit: cover;
    width: 120px;
}

.greeting {
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

div.greeting > div#hi {
    font-size:small
}

div.greeting > div#name {
    font-size: x-large;
}

div.greeting > div {
    font-weight: bolder;
}

div.functions > ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    list-style: none;
}

div.functions > ul > li> button {
    height: 6vh;
    width: 7vw;
    background-color: #1992d4;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    font-size: calc(9px + 0.5vw);
    border: transparent;
}

.sidebar {
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: #1992d4;
    padding: 20px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 4fr;
    
}


div#dashboard.icon > img {
    width: 70px;
    height: 70px;
}

div.nav > div.icon > img, 
div.dashboard-text-with-icon > div.icon > img {
    filter: invert(100%) sepia(2%) saturate(5%) hue-rotate(75deg) brightness(104%) contrast(100%);
}

div.dashboard-text-with-icon > div#dashboard {
    display: grid;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 25px;
}
.dashboard-text-with-icon, .nav {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    gap: 10px;
    justify-items: left;
}

.dashboard-text-with-icon > div.icon {
    display: grid;
    justify-content: center;
    width: 40px;
}

div.nav > div.icon {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 40px;
}

div.nav > div.icon > img{
    width: 40px;
    height: 40px;
}

div.nav > div.nav-text {
    display: grid;
    align-items: center;
    justify-content: left;
    width: 100%;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
div#communities.nav {
    grid-row: 7 / 8;
}

div#settings.nav {
    grid-row: 9 / 10;
}

div#support.nav {
    grid-row: 10 / 11;
}
div#privacy.nav {
    grid-row: 11 / 12;
}


.contents {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    background-color: #e2e8f0;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5); 
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 2fr 2fr;
    padding: 30px;
    gap: 10px;
}

div.projects {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: baseline;
}

div.announcements {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}
div.announcement-container {
    display: grid;
    justify-content: center;
}
div.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

div.content-title {
    font-weight: bolder;
    font-size: x-large;
}
div.cards {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, 350px);
}
div.card {
    height: 300px;
    border-left: solid 8px #dc2626;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr;
}

div.card > h1 {
    font-size: 20px;
    margin-bottom: -5px;
}

div.card > p {
    font-size: 12px;
    text-overflow: ellipsis;
    height: 80px;
    overflow: auto;
    /* word-wrap: break-word; */
}

div.card > div.icons-container {
    display: flex;
    justify-content: right;
    gap: 20px;
}
div.announcements {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
div.trending-container, div.announcement-container, div.card {
    padding: 20px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
ul.announcements {
    display: grid;
    justify-content: center;
    padding-left: 0px;
}
ul.announcements > * {
    border-bottom: solid 1px #e2e8f0;
}

ul.announcements:last-child {
    border: 0px
}

ul.announcements > li > h1 {
    font-size: 20px;
}

ul.announcements > li > p {
    height: 80px;
    overflow: auto;
}

div.trending {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

div.trending-container {
    display: grid;
    justify-content: center;
    align-items: center;
}

ul.trending {
    padding: 10px;
    display: grid;
}

ul.trending > li {
    display: grid;
    grid-template-columns: 1fr 3fr;
    justify-content: center;
    align-items: center;
}

div.trending-person-container > div {
    font-size: 10px;
}

div.trending-person-container > div.trending-project {
    color: #cad1da;
}


